body {
	margin: 4px;
	padding: 0;
	top: 0;
	left: 0;
	font-family: 'Arial'
}

canvas {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: -10;
	border: 2px dotted black;
}

#controllcenter {
	position: absolute;
	top: 10px;
	left: 10px;
}

.box {
	font-size: 1.2em; width : 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 6px;
	text-align: center;
	border: 0px solid black;
	border-radius: 10px;
	background-color: lightgrey;
	width: 100px;
}

.box:hover {
	background-color: dimgrey;
}


#clearbox {
	width: 100px;
	margin: 6px;
	text-align: center;
	border-radius: 5px;
	font-size: 1.2em;
	clear: float;
	background-color: lightgrey;
}

#clearbox:hover {
	background-color: dimgrey;
}

#retourbox {
	width: 100px;
	margin: 6px;	
	text-align: center;
	border-radius: 5px;
	font-size: 1.2em;
	clear: float;
	background-color: lightgrey;
}

#retourbox:hover {
	background-color: dimgrey;
}

#animatebox {
	width: 100px;
	margin: 6px;
	margin-bottom: 150px;
	text-align: center;
	border-radius: 5px;
	font-size: 1.2em;
	clear: float;
	background-color: lightgrey;
}

#animatebox:hover {
	background-color: dimgrey;
}

.active {
	background-color: dimgrey;
}