html{
	min-height: 100%;
}
body {
	font-family:"arial", sans serif;
	background-color: dimgrey;
	
	
}
#spielfeld {
	height: 80%;
}

#spielfeld div{
	float: left;
	
}

.card {
	border-radius: 0.2em;
	width: 4em;
	height: 4em;
	background-color: silver;
	font-size: 2em;
	margin:0.2em;
	text-align: center;
	vertical-align: middle;
	color:white;
	
}
.card p{
	display: none;
}

#Karte1, #Karte4, #Karte10, #Karte18, #Karte20, #Karte34 {
	background-color: yellow;
	
}
#Karte1 p, #Karte4 p, #Karte10 p, #Karte18 p, #Karte20 p, #Karte34 p {
	display: initial;
	color: dimgrey;
}

#Karte3 , #Karte13 , #Karte14 , #Karte2 , #Karte22 , #Karte24 {
	background-color:dimgrey;
	width: 3.8em;
	height:3.8em;
	border: 0.1em dotted grey;
} 

#Karte3 p, #Karte13 p, #Karte14 p, #Karte2 p, #Karte22 p, #Karte24 p{
	display: none;
}

.visible {
	background-color: silver;
}

footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	height: 20%;
	color: white;
	background-color: grey;
	
}

footer div{
	float: left;
	width: 21%;
	text-align: center;
	padding: 2%;
	}
	
footer div p {
	font-size: 2em;
	text-align: center;
	
}
