html{
	min-height: 100%;
}
body {
	font-family:"arial", sans serif;
	background-color: dimgrey;
	
	
}
#spielfeld {
	height: 80%;
}

#spielfeld div{
	float: left;
	
}

.hidden{
	border-radius: 0.2em;
	width: 4em;
	height: 4em;
	background-color: silver;
	font-size: 2em;
	margin:0.2em;
	text-align: center;
	vertical-align: middle;
	color:white;
	
}
.hidden p{
	display: none;
	}


.open {
	background-color: yellow;
	border-radius: 0.2em;
	width: 4em;
	height: 4em;
	font-size: 2em;
	margin:0.2em;
	text-align: center;
	vertical-align: middle;
	
}
.open p{
	display: initial;
	color: dimgrey;
}

.taken {
	background-color:dimgrey;
	border-radius: 0.2em;
	width: 4em;
	height:4em;
	
	font-size: 2em;
	margin:0.2em;
	text-align: center;
	vertical-align: middle;
} 
.taken p {
	display: none;
}



.visible {
	background-color: silver;
}

footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	height: 20%;
	color: white;
	background-color: grey;
	
}

footer div{
	float: left;
	width: 21%;
	text-align: center;
	padding: 2%;
	}
	
footer div p {
	font-size: 2em;
	text-align: center;
	
}
